body{
  background: #F4F8F9;
}
.sidebar {
  background: white;
  top: 0px;
  position: absolute;
  height: 100vh;
}
.sidebar img {
  display: block;
}
.sidebar .logo-gambar {
  position: relative;
  top: 10px;
}

@media Screen and (min-width: 720px) {
  .sidebar {
    border-right: 1px solid #ebecec;
    width: 4.8%;
    padding-left: 1%;
  }
  .sidebar .logo-gambars {
    top: 80px;
    position: relative;
  }
}
@media Screen and (max-width: 720px) {
  .sidebar{
    height: 0;
  }
  .sidebar img {
    display: inline;
  }
  .logo-gambar img{
    position: fixed;
    top: 4px;
    z-index: 12;
  }

  .logo-gambars {
    position: fixed;
    background: white;
    bottom: 0;
    width: 100%;
    z-index: 12;
  }
}
