.logo-atas .textCalender {
  font-size: 18px;
}
.logo-atas {
  /* color: white; */
  margin-top: 30px;
  margin-left: 15%;
}

.loogo-calender-i {
  background: #ffd012;
  color: white;
  font-size: 20px;
  width: 24%;
  height: 55px;
  text-align: center;
  padding-top: 15px;
  box-sizing: border-box;
  float: left;
  border-radius: 4px;
}


@media Screen and (min-width: 720px){
    .logo-atas .textCalender {
        font-size: 18px;
        float: right;
        text-align: center;
        position: absolute;
        top: 10px;
          padding-left: 30%;
      }
      .calender{
        /* margin-left: 8%; */
        margin-top: 50px;
      }
}